body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.navbar {
    background-color: #111827;
    padding: 15px;
    color: white;
}

.navbar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 40px;
}
