{% extends 'base.html' %}

{% block content %}
<h2>Leave Requests</h2>

<div class="table-container">
    <table class="employee-table">

    <tr>
        <th>Employee</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reason</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for leave in leaves %}
    <tr>
        <td>{{ leave.employee.user.username }}</td>
        <td>{{ leave.start_date }}</td>
        <td>{{ leave.end_date }}</td>
        <td>{{ leave.reason }}</td>
        <td>
    <span class="status {{ leave.status }}">{{ leave.status }}</span>
</td>

        <td>
            <a href="/dashboard/leaves/approve/{{ leave.id }}/">Approve</a> |
            <a href="/dashboard/leaves/reject/{{ leave.id }}/">Reject</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
