{% extends 'base.html' %}

{% block content %}
<h2>Apply for Leave</h2>
<div class="form-container">
    <h2>Apply for Leave</h2>

    <form method="post">
        {% csrf_token %}

        <label>Start Date</label>
        <input type="date" name="start_date" required>

        <label>End Date</label>
        <input type="date" name="end_date" required>

        <label>Reason</label>
        <textarea name="reason" rows="4" required></textarea>

        <button type="submit">Apply Leave</button>
    </form>
</div>

{% endblock %}
